@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
  min-width: 320px;
  max-width: 960px;
  margin: auto;
  background-color: #cfe5ff;
}

main{
    /*display: grid;
    grid-template-columns: minmax(300px, 700px);*/
    display: flex;
    flex-direction: column;
    background-color: #ECEBF3;
    min-height: 100vh;
    align-items: center;
    gap: 20px;
    padding: 5px 5px;
}

main h1{
    margin: 20px 0;
}

.container-template {
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    height: auto;
    box-shadow: 0 0 5px #523A6F;
    padding: 30px;
    gap: 20px;
    border-radius: 5px;
    width: clamp(300px, 700px, 700px);
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.fade-out {
    opacity: 0 !important;
    pointer-events: none;
    
}

.fade-in {
    opacity: 1 !important;
    pointer-events: auto;
}

.container-template input {
    border: none;
    outline: none;
    min-height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    box-shadow: 0 0 5px #523A6F;
}

.container-template input[type="file"]{
    display: none;
}

.container-template input::placeholder{
    transition: opacity 0.3s ease-in-out;
}
.container-template input:focus::placeholder{
    opacity: 0;
}
    
.container-template button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    align-self: flex-start;
    background-color: #2E86DE;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 1.6rem;
    color: white;
    gap: 10px;
    cursor: pointer;
    transition: .4s;
}

.container-template button:hover{
    background-color: #2979c9;
}

.container-template button i {
    background-color: black;
    border-radius: 5px;
    padding: 0 10px;
}

.container-template input[type="submit"] {
    background-color: #2E86DE;
    color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 0 20px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px #523A6F;
    text-transform: uppercase;
    transition: background-color 0.4s;
    border: none;
    outline: none;
    margin-top: 10px;
    font-weight: bold;
    align-self: end;
}

.img-preview {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px
}
.container-template input[type="submit"]:hover {
    background-color: #2979c9;
}

.container-num-perguntas{
    display: flex;
    justify-content: space-between;
}

.num-perguntas {
    align-self: start;
}

