main{
    height: 100vh;
    text-align: center;
    padding: 20px 10px 0;
    position: relative;
}
main h1{
    font: normal lighter 2rem Helvetica;
    margin: 0px 0 20px;
}
.container-gerenciador{
    display: flex;
    box-shadow: 0 0 10px rgba(74, 34, 126, 0.1);
    border-radius: 5px;
    justify-content: space-between;
    padding: 20px;
    width: clamp(200px, 50vw, 600px);
    min-height: 200px;
    margin: 20px auto;
    gap: 20px;
}

.container-gerenciador img{
    width: 300px;
    height: 150px;
    border: none;
    background-color: violet;
}
.container-info{
    flex: 1;
    min-height: 150px;
}

.container-info h2{
    font: normal lighter 1.5rem Helvetica;
    text-align: left;       /* Opcional: alinha o texto à esquerda */
}

.container-info p{
    font: normal 1rem Helvetica;
    text-align: left;
}

.container-options {
        display: grid;
}

.container-options button{
    font-size: 2rem;
    border: none;
    height: auto;
    background-color: transparent;
    padding: 0;
}

.container-options button i:hover{
    color: rgb(78, 36, 196);
}

.container-options button i{
    cursor: pointer;
}

#btn-nova-tarefa {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    cursor: default; /* cursor padrão, pois só o ícone é clicável */
}

#btn-nova-tarefa i {
    font-size: 2rem;
    pointer-events: auto; /* só o ícone recebe o clique */
    cursor: pointer;
}

