@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  min-width: 320px;
  max-width: 960px;
  margin: auto;
  position: relative;
  background-color: #cfe5ff;
}

main {
  background-color: #ECEBF3;
}

a {
  text-decoration: none;
  color: black;
}

#nav-bar {
  height: 6vh;
  background-color: #9BBAAA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

#nav-bar a {
  color: #fff;
}

#nav-bar #description {
  color: black;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 5px;
}

#btn-menu,
#btn-logar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#menu,
#form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 6vh;
  width: 300px;
  height: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
  padding: 20px 20px;
  justify-content: start;
  transition: .3s ease-in-out;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.301);
  z-index: 1;
  padding: 20px;
   margin: 10px;
}

.options {
  display: flex;
  align-items: center;
  transition: .4s ease-in-out;
}

.options img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.options a {
  font-size: 1.5rem;
}

.options a:hover {
  color: rgb(75, 75, 75);
  scale: 1.01;
}

#form-login {
  right: 0px;
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

#bar-search {
  background-color: #D9D9D9;
  display: flex;
  width: 300px;
  height: 80%;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

#bar-search input {
  font-size: 1rem;
  opacity: 0.5;
  color: rgb(70, 70, 70);
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
}

#bar-search img {
  width: 32px;
}

#bar-search #img-capybara {
  width: 49px;
}

#form-login {
  text-align: center;
}

#form-login h1 {
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
}

#form-login input,
#form-login button {
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.2rem;
  opacity: 0.9;
  transition: .2s ease-in-out;
}

#form-login input:focus {
  opacity: 1;
}

#form-login #submit-login {
  background-color: #40A9F5;
  cursor: pointer;
}

#form-login #submit-login:hover {
  background-color: #0087F4;
  color: white;
}

#form-login a {
  color: #0055f4;
  text-decoration: underline;
  cursor: pointer;
  align-self: center;
  place-self: center;
  text-transform: lowercase;
}

#form-login h1{
  color: black;
}

.hide {
  display: none;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media(max-width:700px) {
  #grid-box {
    grid-template-columns: 300px
  }

  #bar-search {
    width: 200px;
  }

  #input-search {
    width: 110px;
  }

  #nav-login {
    display: none;
  }
}